<h2>Reporter output</h2><table><tr><td><div style="display:block;margin-left:10px;"><div  class="info"><span class="info-label">I </span>Sign on Screenshot <a href="../img/VerifyDifferentComponentsAndLinksOfTheHomepage_5h42fwfyyfrp49471.png" target="_blank">[View Screenshot]</a> </div></div></td></tr>
</table>