<h2>Reporter output</h2><table><tr><td><div style="display:block;margin-left:10px;"><div  class="info"><span class="info-label">I </span>Register Details are filled <a href="../img/VerifyRegisterUser_13ukz33xvce6s497.png" target="_blank">[View Screenshot]</a> </div><div  class="fail"><span class="fail-label">F </span>Timed out after 60 seconds waiting for presence of element located by: By.xpath: //font[contains(text(),'To create your account,')] <a href="../img/VerifyRegisterUser_11xpa156260mx498.png" target="_blank">[View Screenshot]</a> </div></div></td></tr>
</table>