<h2>Reporter output</h2><table><tr><td><div style="display:block;margin-left:10px;"><div  class="teststeppass"><span class="teststeppass-label">T </span>Sign In</div><div style="display:block;margin-left:10px;"><div  class="pass"><span class="pass-label">P </span>Expected By.xpath: //form[@name='findflight']//table//tbody//tr//td//font//font//b//font//font[contains(text(),'Flight')] visible : Actual By.xpath: //form[@name='findflight']//table//tbody//tr//td//font//font//b//font//font[contains(text(),'Flight')] visible <a href="../img/FlightFinderDetails_jfi5cc9myr1v47276.png" target="_blank">[View Screenshot]</a> </div><div  class="info"><span class="info-label">I </span>Flight Finder Page loaded Successfully</div></div><div  class="pass"><span class="pass-label">P </span>Expected By.xpath: //form[@name='findflight']//table//tbody//tr//td//font//font//b//font//font[contains(text(),'Flight')] visible : Actual By.xpath: //form[@name='findflight']//table//tbody//tr//td//font//font//b//font//font[contains(text(),'Flight')] visible <a href="../img/FlightFinderDetails_1ww47tt97babn47277.png" target="_blank">[View Screenshot]</a> </div><div  class="pass"><span class="pass-label">P </span>User is able to Login <a href="../img/FlightFinderDetails_qyszbewz7kwo47278.png" target="_blank">[View Screenshot]</a> </div><div  class="pass"><span class="pass-label">P </span>Expected By.xpath: //form[@name='findflight']//table//tbody//tr//td//font//font//b//font//font[contains(text(),'Flight')] visible : Actual By.xpath: //form[@name='findflight']//table//tbody//tr//td//font//font//b//font//font[contains(text(),'Flight')] visible <a href="../img/FlightFinderDetails_cav4n39yly3247279.png" target="_blank">[View Screenshot]</a> </div><div  class="info"><span class="info-label">I </span>Flight Finder Page loaded Successfully</div><div  class="pass"><span class="pass-label">P </span>Expected By.xpath: //form[@name='findflight']//table//tbody//tr//td//font//font//b//font//font[contains(text(),'Flight')] visible : Actual By.xpath: //form[@name='findflight']//table//tbody//tr//td//font//font//b//font//font[contains(text(),'Flight')] visible <a href="../img/FlightFinderDetails_3npjt8u36ftv47280.png" target="_blank">[View Screenshot]</a> </div><div  class="pass"><span class="pass-label">P </span>You are on Flight Finder Page <a href="../img/FlightFinderDetails_1colyhwtknniv47281.png" target="_blank">[View Screenshot]</a> </div><div  class="pass"><span class="pass-label">P </span>Expected By.xpath: //img[@src='/images/masts/mast_selectflight.gif'] visible : Actual By.xpath: //img[@src='/images/masts/mast_selectflight.gif'] visible <a href="../img/FlightFinderDetails_1dulggeb2f9x047282.png" target="_blank">[View Screenshot]</a> </div><div  class="pass"><span class="pass-label">P </span>You are on Select Flight Page <a href="../img/FlightFinderDetails_1l2bi6ilxnoct47283.png" target="_blank">[View Screenshot]</a> </div><div  class="info"><span class="info-label">I </span>flight name=Unified Airlines 563</div><div  class="info"><span class="info-label">I </span>flight name=Blue Skies Airlines 651</div><div  class="pass"><span class="pass-label">P </span>Expected By.xpath: //img[@src ='/images/masts/mast_book.gif'] visible : Actual By.xpath: //img[@src ='/images/masts/mast_book.gif'] visible <a href="../img/FlightFinderDetails_149a0t0v45nci47284.png" target="_blank">[View Screenshot]</a> </div><div  class="pass"><span class="pass-label">P </span>You are on Book A Flight Page <a href="../img/FlightFinderDetails_s3chpgicf63q47285.png" target="_blank">[View Screenshot]</a> </div><div  class="pass"><span class="pass-label">P </span>
Expected: &lt;true&gt;
     Actual: was &lt;true&gt; <a href="../img/FlightFinderDetails_ye224g5bc63c47286.png" target="_blank">[View Screenshot]</a> </div><div  class="info"><span class="info-label">I </span>Passengers deatils are filled <a href="../img/FlightFinderDetails_1bd5axjb6tla47287.png" target="_blank">[View Screenshot]</a> </div><div  class="pass"><span class="pass-label">P </span>Expected Departing Portland to New York 8/29/2019 @ 11:24 w/ Unified Airlines 563 Coach $125 each Returning New York to Portland 9/25/2019 @ 14:30 w/ Blue Skies Airlines 651 Coach $99 each Passengers 1 passenger Billed To Elena John Gilbert Aundh Pune, Maharashtra, 458321 AX 0 Delivery Address (N/A for Ticketless Travel) Aundh Mumbai, Maharashtra, 556356786 Total Taxes: $18 USD Total Price (including taxes): $242 USD text should be  Flight Confirmation # 2019-09-16013259 2019-09-16 01:32:59.0
Departing
Portland to New York
8/30/2019 @ 11:24 w/ Unified Airlines 563
Coach
$125 each
Returning
New York to Portland
9/3/2019 @ 14:30 w/ Blue Skies Airlines 651
Coach
$99 each
Passengers
1 passenger
Billed To

201 abc road

New York, CA, 45632
AX 0
Delivery Address (N/A for Ticketless Travel)
201 abc road

New York, CA, 45632
Total Taxes:  $18 USD
Total Price (including taxes):  $242 USD : Actual Departing Portland to New York 8/29/2019 @ 11:24 w/ Unified Airlines 563 Coach $125 each Returning New York to Portland 9/25/2019 @ 14:30 w/ Blue Skies Airlines 651 Coach $99 each Passengers 1 passenger Billed To Elena John Gilbert Aundh Pune, Maharashtra, 458321 AX 0 Delivery Address (N/A for Ticketless Travel) Aundh Mumbai, Maharashtra, 556356786 Total Taxes: $18 USD Total Price (including taxes): $242 USD text is  Flight Confirmation # 2019-09-16013259 2019-09-16 01:32:59.0
Departing
Portland to New York
8/30/2019 @ 11:24 w/ Unified Airlines 563
Coach
$125 each
Returning
New York to Portland
9/3/2019 @ 14:30 w/ Blue Skies Airlines 651
Coach
$99 each
Passengers
1 passenger
Billed To

201 abc road

New York, CA, 45632
AX 0
Delivery Address (N/A for Ticketless Travel)
201 abc road

New York, CA, 45632
Total Taxes:  $18 USD
Total Price (including taxes):  $242 USD <a href="../img/FlightFinderDetails_1064mlhgzrxbx47288.png" target="_blank">[View Screenshot]</a> </div><div  class="info"><span class="info-label">I </span>Verified the Flight Confirmation Page <a href="../img/FlightFinderDetails_1qomsr6pi482b47289.png" target="_blank">[View Screenshot]</a> </div><div  class="info"><span class="info-label">I </span>You are on Flight Confirmation Page <a href="../img/FlightFinderDetails_10rk4jw1fc6r147290.png" target="_blank">[View Screenshot]</a> </div><div  class="pass"><span class="pass-label">P </span>Expected By.xpath: //img[@src="/images/masts/mast_confirmation.gif"] visible : Actual By.xpath: //img[@src="/images/masts/mast_confirmation.gif"] visible <a href="../img/FlightFinderDetails_565e5wzt8zcy47291.png" target="_blank">[View Screenshot]</a> </div><div  class="pass"><span class="pass-label">P </span>You are on Flight Confirmation Page <a href="../img/FlightFinderDetails_z9atml1yv3h047292.png" target="_blank">[View Screenshot]</a> </div><div  class="pass"><span class="pass-label">P </span>Expected By.xpath: //form[@name='findflight']//table//tbody//tr//td//font//font//b//font//font[contains(text(),'Flight')] visible : Actual By.xpath: //form[@name='findflight']//table//tbody//tr//td//font//font//b//font//font[contains(text(),'Flight')] visible <a href="../img/FlightFinderDetails_19ukbz7fkrf2f47293.png" target="_blank">[View Screenshot]</a> </div><div  class="info"><span class="info-label">I </span>Flight Finder Page loaded Successfully</div><div  class="pass"><span class="pass-label">P </span>Expected By.xpath: //form[@name='findflight']//table//tbody//tr//td//font//font//b//font//font[contains(text(),'Flight')] visible : Actual By.xpath: //form[@name='findflight']//table//tbody//tr//td//font//font//b//font//font[contains(text(),'Flight')] visible <a href="../img/FlightFinderDetails_1ap4uw61j95nq47294.png" target="_blank">[View Screenshot]</a> </div><div  class="pass"><span class="pass-label">P </span>You are on Flight Finder Page <a href="../img/FlightFinderDetails_h1p99v78r10b47295.png" target="_blank">[View Screenshot]</a> </div></div></td></tr>
</table>