<h2>Reporter output</h2><table><tr><td><div style="display:block;margin-left:10px;"><div  class="teststeppass"><span class="teststeppass-label">T </span>Sign In</div><div style="display:block;margin-left:10px;"><div  class="pass"><span class="pass-label">P </span>Expected By.xpath: //form[@name='findflight']//table//tbody//tr//td//font//font//b//font//font[contains(text(),'Flight')] visible : Actual By.xpath: //form[@name='findflight']//table//tbody//tr//td//font//font//b//font//font[contains(text(),'Flight')] visible <a href="../img/FlightFinderDetails_ch2v96dlttws20013.png" target="_blank">[View Screenshot]</a> </div><div  class="info"><span class="info-label">I </span>Flight Finder Page loaded Successfully</div></div><div  class="pass"><span class="pass-label">P </span>Expected By.xpath: //form[@name='findflight']//table//tbody//tr//td//font//font//b//font//font[contains(text(),'Flight')] visible : Actual By.xpath: //form[@name='findflight']//table//tbody//tr//td//font//font//b//font//font[contains(text(),'Flight')] visible <a href="../img/FlightFinderDetails_1i5wbgnzhc6m20014.png" target="_blank">[View Screenshot]</a> </div><div  class="pass"><span class="pass-label">P </span>User is able to Login <a href="../img/FlightFinderDetails_907e0j22su9420015.png" target="_blank">[View Screenshot]</a> </div><div  class="pass"><span class="pass-label">P </span>Expected By.xpath: //form[@name='findflight']//table//tbody//tr//td//font//font//b//font//font[contains(text(),'Flight')] visible : Actual By.xpath: //form[@name='findflight']//table//tbody//tr//td//font//font//b//font//font[contains(text(),'Flight')] visible <a href="../img/FlightFinderDetails_6v0r6bg6g30n20016.png" target="_blank">[View Screenshot]</a> </div><div  class="info"><span class="info-label">I </span>Flight Finder Page loaded Successfully</div><div  class="pass"><span class="pass-label">P </span>Expected By.xpath: //form[@name='findflight']//table//tbody//tr//td//font//font//b//font//font[contains(text(),'Flight')] visible : Actual By.xpath: //form[@name='findflight']//table//tbody//tr//td//font//font//b//font//font[contains(text(),'Flight')] visible <a href="../img/FlightFinderDetails_1ayupdwok39i820017.png" target="_blank">[View Screenshot]</a> </div><div  class="pass"><span class="pass-label">P </span>You are on Flight Finder Page <a href="../img/FlightFinderDetails_1pulrkb7lyivz20018.png" target="_blank">[View Screenshot]</a> </div><div  class="pass"><span class="pass-label">P </span>Expected By.xpath: //img[@src='/images/masts/mast_selectflight.gif'] visible : Actual By.xpath: //img[@src='/images/masts/mast_selectflight.gif'] visible <a href="../img/FlightFinderDetails_1fcbka3lo1gcm20019.png" target="_blank">[View Screenshot]</a> </div><div  class="pass"><span class="pass-label">P </span>You are on Select Flight Page <a href="../img/FlightFinderDetails_wqk1eh74kbm820020.png" target="_blank">[View Screenshot]</a> </div><div  class="info"><span class="info-label">I </span>flight name=Unified Airlines 563</div><div  class="info"><span class="info-label">I </span>flight name=Blue Skies Airlines 651</div><div  class="pass"><span class="pass-label">P </span>Expected By.xpath: //img[@src ='/images/masts/mast_book.gif'] visible : Actual By.xpath: //img[@src ='/images/masts/mast_book.gif'] visible <a href="../img/FlightFinderDetails_2lbt5q1zskzj20021.png" target="_blank">[View Screenshot]</a> </div><div  class="pass"><span class="pass-label">P </span>You are on Book A Flight Page <a href="../img/FlightFinderDetails_ji08opjqi42f20022.png" target="_blank">[View Screenshot]</a> </div><div  class="pass"><span class="pass-label">P </span>
Expected: &lt;true&gt;
     Actual: was &lt;true&gt; <a href="../img/FlightFinderDetails_1cut8kad7b2fb20023.png" target="_blank">[View Screenshot]</a> </div><div  class="info"><span class="info-label">I </span>Passengers deatils are filled <a href="../img/FlightFinderDetails_1q1phcq0wbdry20024.png" target="_blank">[View Screenshot]</a> </div><div  class="pass"><span class="pass-label">P </span>Expected Departing Portland to New York 8/29/2019 @ 11:24 w/ Unified Airlines 563 Coach $125 each Returning New York to Portland 9/25/2019 @ 14:30 w/ Blue Skies Airlines 651 Coach $99 each Passengers 1 passenger Billed To Elena John Gilbert Aundh Pune, Maharashtra, 458321 AX 0 Delivery Address (N/A for Ticketless Travel) Aundh Mumbai, Maharashtra, 556356786 Total Taxes: $18 USD Total Price (including taxes): $242 USD text should be  Flight Confirmation # 2019-09-16044932 2019-09-16 04:49:32.0
Departing
Portland to New York
8/30/2019 @ 11:24 w/ Unified Airlines 563
Coach
$125 each
Returning
New York to Portland
9/3/2019 @ 14:30 w/ Blue Skies Airlines 651
Coach
$99 each
Passengers
1 passenger
Billed To

201 abc road

New York, CA, 45632
AX 0
Delivery Address (N/A for Ticketless Travel)
201 abc road

New York, CA, 45632
Total Taxes:  $18 USD
Total Price (including taxes):  $242 USD : Actual Departing Portland to New York 8/29/2019 @ 11:24 w/ Unified Airlines 563 Coach $125 each Returning New York to Portland 9/25/2019 @ 14:30 w/ Blue Skies Airlines 651 Coach $99 each Passengers 1 passenger Billed To Elena John Gilbert Aundh Pune, Maharashtra, 458321 AX 0 Delivery Address (N/A for Ticketless Travel) Aundh Mumbai, Maharashtra, 556356786 Total Taxes: $18 USD Total Price (including taxes): $242 USD text is  Flight Confirmation # 2019-09-16044932 2019-09-16 04:49:32.0
Departing
Portland to New York
8/30/2019 @ 11:24 w/ Unified Airlines 563
Coach
$125 each
Returning
New York to Portland
9/3/2019 @ 14:30 w/ Blue Skies Airlines 651
Coach
$99 each
Passengers
1 passenger
Billed To

201 abc road

New York, CA, 45632
AX 0
Delivery Address (N/A for Ticketless Travel)
201 abc road

New York, CA, 45632
Total Taxes:  $18 USD
Total Price (including taxes):  $242 USD <a href="../img/FlightFinderDetails_l1d7nuu06ygf20025.png" target="_blank">[View Screenshot]</a> </div><div  class="info"><span class="info-label">I </span>Verified the Flight Confirmation Page <a href="../img/FlightFinderDetails_jkhm0fdf7j5f20026.png" target="_blank">[View Screenshot]</a> </div><div  class="pass"><span class="pass-label">P </span>Expected By.xpath: //img[@src="/images/masts/mast_confirmation.gif"] visible : Actual By.xpath: //img[@src="/images/masts/mast_confirmation.gif"] visible <a href="../img/FlightFinderDetails_1l0vb3n90o5jn20027.png" target="_blank">[View Screenshot]</a> </div><div  class="pass"><span class="pass-label">P </span>You are on Flight Confirmation Page <a href="../img/FlightFinderDetails_1o44kfpe1z2pb20028.png" target="_blank">[View Screenshot]</a> </div><div  class="pass"><span class="pass-label">P </span>Expected By.xpath: //img[@src="/images/masts/mast_confirmation.gif"] text should be  : Actual By.xpath: //img[@src="/images/masts/mast_confirmation.gif"] text is  <a href="../img/FlightFinderDetails_1kyftxfmew5o820029.png" target="_blank">[View Screenshot]</a> </div><div  class="pass"><span class="pass-label">P </span>Confiramtion Page Text is  Verified <a href="../img/FlightFinderDetails_fawheyayso7i20030.png" target="_blank">[View Screenshot]</a> </div><div  class="pass"><span class="pass-label">P </span>Expected By.xpath: //form[@name='findflight']//table//tbody//tr//td//font//font//b//font//font[contains(text(),'Flight')] visible : Actual By.xpath: //form[@name='findflight']//table//tbody//tr//td//font//font//b//font//font[contains(text(),'Flight')] visible <a href="../img/FlightFinderDetails_oljedq1u2o1c20031.png" target="_blank">[View Screenshot]</a> </div><div  class="info"><span class="info-label">I </span>Flight Finder Page loaded Successfully</div><div  class="pass"><span class="pass-label">P </span>Expected By.xpath: //form[@name='findflight']//table//tbody//tr//td//font//font//b//font//font[contains(text(),'Flight')] visible : Actual By.xpath: //form[@name='findflight']//table//tbody//tr//td//font//font//b//font//font[contains(text(),'Flight')] visible <a href="../img/FlightFinderDetails_byosrz09syhw20032.png" target="_blank">[View Screenshot]</a> </div><div  class="pass"><span class="pass-label">P </span>You are on Flight Finder Page <a href="../img/FlightFinderDetails_qsz0qo5bv9ej20033.png" target="_blank">[View Screenshot]</a> </div></div></td></tr>
</table>