<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>QAF Demo</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="99f37e">  <td>19/10/07 17:38:34</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterClass(org.testng.ITestContext)[pri:0, instance:com.qmetry.mercurytours.tests.RegisterTest@58c1670b]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1849201180</td>   <td></td> </tr>
<tr bgcolor="99f37e">  <td>19/10/07 17:37:36</td>   <td>-58430</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterMethod(org.testng.ITestContext, org.testng.ITestResult)[pri:0, instance:com.qmetry.mercurytours.tests.RegisterTest@58c1670b]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1849201180</td>   <td></td> </tr>
<tr bgcolor="99f37e">  <td>19/10/07 17:37:51</td>   <td>-42806</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterMethod(org.testng.ITestContext, org.testng.ITestResult)[pri:0, instance:com.qmetry.mercurytours.tests.RegisterTest@58c1670b]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1849201180</td>   <td></td> </tr>
<tr bgcolor="99f37e">  <td>19/10/07 17:38:10</td>   <td>-23783</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterMethod(org.testng.ITestContext, org.testng.ITestResult)[pri:0, instance:com.qmetry.mercurytours.tests.RegisterTest@58c1670b]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1849201180</td>   <td></td> </tr>
<tr bgcolor="99f37e">  <td>19/10/07 17:38:34</td>   <td>-1</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterMethod(org.testng.ITestContext, org.testng.ITestResult)[pri:0, instance:com.qmetry.mercurytours.tests.RegisterTest@58c1670b]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1849201180</td>   <td></td> </tr>
<tr bgcolor="be8bc2">  <td>19/10/07 17:38:34</td>   <td>121</td> <td title="&lt;&lt;TestNGTestCase.afterSuit(org.testng.ITestContext)[pri:0, instance:com.qmetry.mercurytours.tests.RegisterTest@58c1670b]">&lt;&lt;afterSuit</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1849201180</td>   <td></td> </tr>
<tr bgcolor="99f37e">  <td>19/10/07 17:38:34</td>   <td>3</td> <td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterTest(org.testng.ITestContext)[pri:0, instance:com.qmetry.mercurytours.tests.RegisterTest@58c1670b]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1849201180</td>   <td></td> </tr>
<tr bgcolor="be8bc2">  <td>19/10/07 17:37:08</td>   <td>-85563</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGTestCase.setup(org.testng.ITestContext)[pri:0, instance:com.qmetry.mercurytours.tests.RegisterTest@58c1670b]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1849201180</td>   <td></td> </tr>
<tr bgcolor="be8bc2">  <td>19/10/07 17:37:09</td>   <td>-85306</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGTestCase.setupMethod(java.lang.reflect.Method, org.testng.ITestContext)[pri:0, instance:com.qmetry.mercurytours.tests.RegisterTest@58c1670b]">&gt;&gt;setupMethod</td> 
<td>&nbsp;</td>  <td>main@1849201180</td>   <td></td> </tr>
<tr bgcolor="be8bc2">  <td>19/10/07 17:37:36</td>   <td>-58429</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGTestCase.setupMethod(java.lang.reflect.Method, org.testng.ITestContext)[pri:0, instance:com.qmetry.mercurytours.tests.RegisterTest@58c1670b]">&gt;&gt;setupMethod</td> 
<td>&nbsp;</td>  <td>main@1849201180</td>   <td></td> </tr>
<tr bgcolor="be8bc2">  <td>19/10/07 17:37:51</td>   <td>-42804</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGTestCase.setupMethod(java.lang.reflect.Method, org.testng.ITestContext)[pri:0, instance:com.qmetry.mercurytours.tests.RegisterTest@58c1670b]">&gt;&gt;setupMethod</td> 
<td>&nbsp;</td>  <td>main@1849201180</td>   <td></td> </tr>
<tr bgcolor="be8bc2">  <td>19/10/07 17:38:10</td>   <td>-23781</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGTestCase.setupMethod(java.lang.reflect.Method, org.testng.ITestContext)[pri:0, instance:com.qmetry.mercurytours.tests.RegisterTest@58c1670b]">&gt;&gt;setupMethod</td> 
<td>&nbsp;</td>  <td>main@1849201180</td>   <td></td> </tr>
<tr bgcolor="be8bc2">  <td>19/10/07 17:37:08</td>   <td>-85602</td> <td title="&gt;&gt;TestNGTestCase.setupSuit(org.testng.ITestContext)[pri:0, instance:com.qmetry.mercurytours.tests.RegisterTest@58c1670b]">&gt;&gt;setupSuit</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1849201180</td>   <td></td> </tr>
<tr bgcolor="be8bc2">  <td>19/10/07 17:37:08</td>   <td>-85572</td> <td>&nbsp;</td><td title="&gt;&gt;TestNGTestCase.setupTest(org.testng.ITestContext)[pri:0, instance:com.qmetry.mercurytours.tests.RegisterTest@58c1670b]">&gt;&gt;setupTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1849201180</td>   <td></td> </tr>
<tr bgcolor="78f375">  <td>19/10/07 17:37:09</td>   <td>-85304</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegisterTest.verifyInvalidRegisterUser(java.util.Map)[pri:0, instance:com.qmetry.mercurytours.tests.RegisterTest@58c1670b]">verifyInvalidRegisterUser</td> 
  <td>main@1849201180</td>   <td></td> </tr>
<tr bgcolor="78f375">  <td>19/10/07 17:37:36</td>   <td>-58428</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegisterTest.verifyInvalidRegisterUser(java.util.Map)[pri:0, instance:com.qmetry.mercurytours.tests.RegisterTest@58c1670b]">verifyInvalidRegisterUser</td> 
  <td>main@1849201180</td>   <td></td> </tr>
<tr bgcolor="78f375">  <td>19/10/07 17:37:51</td>   <td>-42798</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegisterTest.verifyInvalidRegisterUser(java.util.Map)[pri:0, instance:com.qmetry.mercurytours.tests.RegisterTest@58c1670b]">verifyInvalidRegisterUser</td> 
  <td>main@1849201180</td>   <td></td> </tr>
<tr bgcolor="78f375">  <td>19/10/07 17:38:10</td>   <td>-23780</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegisterTest.verifyInvalidRegisterUser(java.util.Map)[pri:0, instance:com.qmetry.mercurytours.tests.RegisterTest@58c1670b]">verifyInvalidRegisterUser</td> 
  <td>main@1849201180</td>   <td></td> </tr>
</table>
