<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>QAF Demo</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="be8bc2">  <td>19/10/07 11:52:10</td>   <td>0</td> <td title="&gt;&gt;TestNGTestCase.setupSuit(org.testng.ITestContext)[pri:0, instance:com.qmetry.mercurytours.tests.HomeTest@58c1670b]">&gt;&gt;setupSuit</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1849201180</td>   <td></td> </tr>
<tr bgcolor="be8bc2">  <td>19/10/07 11:52:10</td>   <td>34</td> <td>&nbsp;</td><td title="&gt;&gt;TestNGTestCase.setupTest(org.testng.ITestContext)[pri:0, instance:com.qmetry.mercurytours.tests.HomeTest@58c1670b]">&gt;&gt;setupTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1849201180</td>   <td></td> </tr>
<tr bgcolor="be8bc2">  <td>19/10/07 11:52:10</td>   <td>44</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGTestCase.setup(org.testng.ITestContext)[pri:0, instance:com.qmetry.mercurytours.tests.HomeTest@58c1670b]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1849201180</td>   <td></td> </tr>
<tr bgcolor="be8bc2">  <td>19/10/07 11:52:10</td>   <td>53</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGTestCase.setupMethod(java.lang.reflect.Method, org.testng.ITestContext)[pri:0, instance:com.qmetry.mercurytours.tests.HomeTest@58c1670b]">&gt;&gt;setupMethod</td> 
<td>&nbsp;</td>  <td>main@1849201180</td>   <td></td> </tr>
<tr bgcolor="78f375">  <td>19/10/07 11:52:10</td>   <td>63</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomeTest.backToHomePageFromContactPage()[pri:0, instance:com.qmetry.mercurytours.tests.HomeTest@58c1670b]">backToHomePageFromContactPage</td> 
  <td>main@1849201180</td>   <td></td> </tr>
<tr bgcolor="99f37e">  <td>19/10/07 11:52:19</td>   <td>9681</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterMethod(org.testng.ITestContext, org.testng.ITestResult)[pri:0, instance:com.qmetry.mercurytours.tests.HomeTest@58c1670b]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1849201180</td>   <td></td> </tr>
<tr bgcolor="be8bc2">  <td>19/10/07 11:52:19</td>   <td>9682</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGTestCase.setupMethod(java.lang.reflect.Method, org.testng.ITestContext)[pri:0, instance:com.qmetry.mercurytours.tests.HomeTest@58c1670b]">&gt;&gt;setupMethod</td> 
<td>&nbsp;</td>  <td>main@1849201180</td>   <td></td> </tr>
<tr bgcolor="78f375">  <td>19/10/07 11:52:19</td>   <td>9682</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomeTest.verifyDifferentComponentsAndLinksOfTheHomepage()[pri:0, instance:com.qmetry.mercurytours.tests.HomeTest@58c1670b]">verifyDifferentComponentsAndLinksOfTheHomepage</td> 
  <td>main@1849201180</td>   <td></td> </tr>
<tr bgcolor="99f37e">  <td>19/10/07 11:52:33</td>   <td>23502</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterMethod(org.testng.ITestContext, org.testng.ITestResult)[pri:0, instance:com.qmetry.mercurytours.tests.HomeTest@58c1670b]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1849201180</td>   <td></td> </tr>
<tr bgcolor="be8bc2">  <td>19/10/07 11:52:33</td>   <td>23503</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGTestCase.setupMethod(java.lang.reflect.Method, org.testng.ITestContext)[pri:0, instance:com.qmetry.mercurytours.tests.HomeTest@58c1670b]">&gt;&gt;setupMethod</td> 
<td>&nbsp;</td>  <td>main@1849201180</td>   <td></td> </tr>
<tr bgcolor="78f375">  <td>19/10/07 11:52:33</td>   <td>23504</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomeTest.verifyUserIsAbleToSignInFromSignInSectionOfHomePage()[pri:0, instance:com.qmetry.mercurytours.tests.HomeTest@58c1670b]">verifyUserIsAbleToSignInFromSignInSectionOfHomePage</td> 
  <td>main@1849201180</td>   <td></td> </tr>
<tr bgcolor="99f37e">  <td>19/10/07 11:56:24</td>   <td>254011</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterMethod(org.testng.ITestContext, org.testng.ITestResult)[pri:0, instance:com.qmetry.mercurytours.tests.HomeTest@58c1670b]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1849201180</td>   <td></td> </tr>
<tr bgcolor="be8bc2">  <td>19/10/07 11:56:24</td>   <td>254012</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGTestCase.setupMethod(java.lang.reflect.Method, org.testng.ITestContext)[pri:0, instance:com.qmetry.mercurytours.tests.HomeTest@58c1670b]">&gt;&gt;setupMethod</td> 
<td>&nbsp;</td>  <td>main@1849201180</td>   <td></td> </tr>
<tr bgcolor="78f375">  <td>19/10/07 11:56:24</td>   <td>254013</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomeTest.verifyLogout()[pri:0, instance:com.qmetry.mercurytours.tests.HomeTest@58c1670b]">verifyLogout</td> 
  <td>main@1849201180</td>   <td></td> </tr>
<tr bgcolor="99f37e">  <td>19/10/07 12:04:55</td>   <td>765704</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterMethod(org.testng.ITestContext, org.testng.ITestResult)[pri:0, instance:com.qmetry.mercurytours.tests.HomeTest@58c1670b]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1849201180</td>   <td></td> </tr>
<tr bgcolor="be8bc2">  <td>19/10/07 12:04:55</td>   <td>765716</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGTestCase.setupMethod(java.lang.reflect.Method, org.testng.ITestContext)[pri:0, instance:com.qmetry.mercurytours.tests.HomeTest@58c1670b]">&gt;&gt;setupMethod</td> 
<td>&nbsp;</td>  <td>main@1849201180</td>   <td></td> </tr>
<tr bgcolor="78f375">  <td>19/10/07 12:04:55</td>   <td>765717</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomeTest.invalidCredentials(java.util.Map)[pri:0, instance:com.qmetry.mercurytours.tests.HomeTest@58c1670b]">invalidCredentials</td> 
  <td>main@1849201180</td>   <td></td> </tr>
<tr bgcolor="99f37e">  <td>19/10/07 12:05:08</td>   <td>777953</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterMethod(org.testng.ITestContext, org.testng.ITestResult)[pri:0, instance:com.qmetry.mercurytours.tests.HomeTest@58c1670b]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1849201180</td>   <td></td> </tr>
<tr bgcolor="be8bc2">  <td>19/10/07 12:05:08</td>   <td>777954</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGTestCase.setupMethod(java.lang.reflect.Method, org.testng.ITestContext)[pri:0, instance:com.qmetry.mercurytours.tests.HomeTest@58c1670b]">&gt;&gt;setupMethod</td> 
<td>&nbsp;</td>  <td>main@1849201180</td>   <td></td> </tr>
<tr bgcolor="78f375">  <td>19/10/07 12:05:08</td>   <td>777954</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomeTest.invalidCredentials(java.util.Map)[pri:0, instance:com.qmetry.mercurytours.tests.HomeTest@58c1670b]">invalidCredentials</td> 
  <td>main@1849201180</td>   <td></td> </tr>
<tr bgcolor="99f37e">  <td>19/10/07 12:05:20</td>   <td>790168</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterMethod(org.testng.ITestContext, org.testng.ITestResult)[pri:0, instance:com.qmetry.mercurytours.tests.HomeTest@58c1670b]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1849201180</td>   <td></td> </tr>
<tr bgcolor="be8bc2">  <td>19/10/07 12:05:20</td>   <td>790169</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGTestCase.setupMethod(java.lang.reflect.Method, org.testng.ITestContext)[pri:0, instance:com.qmetry.mercurytours.tests.HomeTest@58c1670b]">&gt;&gt;setupMethod</td> 
<td>&nbsp;</td>  <td>main@1849201180</td>   <td></td> </tr>
<tr bgcolor="78f375">  <td>19/10/07 12:05:20</td>   <td>790170</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomeTest.invalidCredentials(java.util.Map)[pri:0, instance:com.qmetry.mercurytours.tests.HomeTest@58c1670b]">invalidCredentials</td> 
  <td>main@1849201180</td>   <td></td> </tr>
<tr bgcolor="99f37e">  <td>19/10/07 12:05:32</td>   <td>802368</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterMethod(org.testng.ITestContext, org.testng.ITestResult)[pri:0, instance:com.qmetry.mercurytours.tests.HomeTest@58c1670b]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1849201180</td>   <td></td> </tr>
<tr bgcolor="99f37e">  <td>19/10/07 12:05:32</td>   <td>802369</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterClass(org.testng.ITestContext)[pri:0, instance:com.qmetry.mercurytours.tests.HomeTest@58c1670b]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1849201180</td>   <td></td> </tr>
<tr bgcolor="99f37e">  <td>19/10/07 12:05:32</td>   <td>802371</td> <td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterTest(org.testng.ITestContext)[pri:0, instance:com.qmetry.mercurytours.tests.HomeTest@58c1670b]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1849201180</td>   <td></td> </tr>
<tr bgcolor="be8bc2">  <td>19/10/07 12:05:32</td>   <td>802466</td> <td title="&lt;&lt;TestNGTestCase.afterSuit(org.testng.ITestContext)[pri:0, instance:com.qmetry.mercurytours.tests.HomeTest@58c1670b]">&lt;&lt;afterSuit</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1849201180</td>   <td></td> </tr>
</table>
