<h2>Reporter output</h2><table><tr><td><div style="display:block;margin-left:10px;"><div  class="info"><span class="info-label">I </span>All Invaild data <a href="../img/InvalidRegisterUser_18eips34hirei36847.png" target="_blank">[View Screenshot]</a> </div><div  class="info"><span class="info-label">I </span>See msg as follow: <a href="../img/InvalidRegisterUser_f1hrb040hbh736848.png" target="_blank">[View Screenshot]</a> </div><div  class="info"><span class="info-label">I </span>Invaild User <a href="../img/InvalidRegisterUser_15dfpfv9dkstk36849.png" target="_blank">[View Screenshot]</a> </div></div></td></tr>
<tr><td><div style="display:block;margin-left:10px;"><div  class="fail"><span class="fail-label">F </span>java.lang.Long cannot be cast to java.lang.String <a href="../img/InvalidRegisterUser_5xlw95ojkmms36850.png" target="_blank">[View Screenshot]</a> </div></div></td></tr>
<tr><td><div style="display:block;margin-left:10px;"><div  class="fail"><span class="fail-label">F </span>java.lang.Long cannot be cast to java.lang.String <a href="../img/InvalidRegisterUser_16h7xfym3kbsy36851.png" target="_blank">[View Screenshot]</a> </div></div></td></tr>
<tr><td><div style="display:block;margin-left:10px;"><div  class="fail"><span class="fail-label">F </span>java.lang.Integer cannot be cast to java.lang.String <a href="../img/InvalidRegisterUser_1ny4y8nqtyo7336852.png" target="_blank">[View Screenshot]</a> </div></div></td></tr>
</table>