<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="ecbaaa">  <td>19/10/15 16:18:10</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NestApi.getLeaves()[pri:0, instance:qaf.qmetry.api.NestApi@44a3ec6b]">getLeaves</td> 
  <td>main@750468423</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>19/10/15 16:18:10</td>   <td>-104</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NestApi.getLocationHoliday()[pri:0, instance:qaf.qmetry.api.NestApi@44a3ec6b]">getLocationHoliday</td> 
  <td>main@750468423</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>19/10/15 16:18:09</td>   <td>-1597</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NestApi.getSupervisorName()[pri:0, instance:qaf.qmetry.api.NestApi@44a3ec6b]">getSupervisorName</td> 
  <td>main@750468423</td>   <td></td> </tr>
</table>
