<h2>Reporter output</h2><table><tr><td><div style="display:block;margin-left:10px;"><div  class="teststeppass"><span class="teststeppass-label">T </span>user requests 'get.leave'</div><div  class="teststeppass"><span class="teststeppass-label">T </span>response should have status code '200'</div><div style="display:block;margin-left:10px;"><div  class="pass"><span class="pass-label">P </span>Response Status
Expected: &lt;200&gt;
     Actual: was &lt;200&gt;</div></div><div  class="teststeppass"><span class="teststeppass-label">T </span>response should have status 'OK'</div><div style="display:block;margin-left:10px;"><div  class="pass"><span class="pass-label">P </span>Response Status
Expected: equalToIgnoringCase("OK")
     Actual: was OK</div></div><div  class="info"><span class="info-label">I </span>Status code is = 200{"response":{"attributes":{"timestamp":"1571133930","error":0},"results":[{"leaveid":"6","reason":"Family Function"},{"leaveid":"7","reason":"Sick"},{"leaveid":"8","reason":"Personal Commitment"},{"leaveid":"9","reason":"Out of Town"},{"leaveid":"10","reason":"Birthday"},{"leaveid":"11","reason":"Anniversary"},{"leaveid":"12","reason":"Vacation"},{"leaveid":"13","reason":"Other"}]}}</div><div  class="pass"><span class="pass-label">P </span>Supervisor Details found</div></div></td></tr>
</table>