<h2>Reporter output</h2><table><tr><td><div style="display:block;margin-left:10px;"><div  class="pass"><span class="pass-label">P </span>Expected By.xpath: //img[@src='/images/masts/mast_signon.gif'] visible : Actual By.xpath: //img[@src='/images/masts/mast_signon.gif'] visible <a href="../img/InvalidCredentials_r2uzxpjtl12v45391.png" target="_blank">[View Screenshot]</a> </div><div  class="pass"><span class="pass-label">P </span>Invalid Credentials,You are on Sign on page <a href="../img/InvalidCredentials_19dbzleq2zwbf45392.png" target="_blank">[View Screenshot]</a> </div></div></td></tr>
<tr><td><div style="display:block;margin-left:10px;"><div  class="fail"><span class="fail-label">F </span>Expected By.xpath: //img[@src='/images/masts/mast_signon.gif'] visible : Actual By.xpath: //img[@src='/images/masts/mast_signon.gif'] not visible</div><div  class="fail"><span class="fail-label">F </span>Vaild Credentials ,You are on Flight finder page </div></div></td></tr>
<tr><td><div style="display:block;margin-left:10px;"><div  class="fail"><span class="fail-label">F </span>no such window: target window already closed
from unknown error: web view not found
  (Session info: chrome=76.0.3809.132)
Build info: version: '3.141.59', revision: 'e82be7d358', time: '2018-11-14T08:17:03'
System info: host: 'ICPL12742', ip: '10.11.29.111', os.name: 'Windows 10', os.arch: 'amd64', os.version: '10.0', java.version: '1.8.0_161'
Driver info: com.qmetry.qaf.automation.ui.webdriver.QAFExtendedWebDriver
Capabilities {acceptInsecureCerts: false, browserName: chrome, browserVersion: 76.0.3809.132, chrome: {chromedriverVersion: 76.0.3809.68 (420c9498db8ce..., userDataDir: C:\Users\NAMRAT~1.MAG\AppDa...}, goog:chromeOptions: {debuggerAddress: localhost:56513}, javascriptEnabled: true, networkConnectionEnabled: false, pageLoadStrategy: normal, platform: XP, platformName: XP, proxy: Proxy(), setWindowRect: true, strictFileInteractability: false, timeouts: {implicit: 0, pageLoad: 300000, script: 30000}, unhandledPromptBehavior: dismiss and notify}
Session ID: b0c600e63da72eec778fc643ff4632bf</div></div></td></tr>
</table>