<h2>Reporter output</h2><table><tr><td><div style="display:block;margin-left:10px;"><div  class="teststeppass"><span class="teststeppass-label">T </span>user requests 'get.leave'</div><div  class="teststepfail"><span class="teststepfail-label">T </span>response should have status code '200'</div><div style="display:block;margin-left:10px;"><div  class="fail"><span class="fail-label">F </span>Response Status
Expected: &lt;200&gt;
     Actual: was &lt;404&gt;</div><div  class="fail"><span class="fail-label">F </span>java.lang.AssertionError</div></div></div></td></tr>
</table>