<h2>Reporter output</h2><table><tr><td><div style="display:block;margin-left:10px;"><div  class="teststeppass"><span class="teststeppass-label">T </span>user requests 'get.leave'</div><div  class="teststeppass"><span class="teststeppass-label">T </span>response should have status code '200'</div><div style="display:block;margin-left:10px;"><div  class="pass"><span class="pass-label">P </span>Response Status
Expected: &lt;200&gt;
     Actual: was &lt;200&gt;</div></div><div  class="teststeppass"><span class="teststeppass-label">T </span>response should have status 'OK'</div><div style="display:block;margin-left:10px;"><div  class="pass"><span class="pass-label">P </span>Response Status
Expected: equalToIgnoringCase("OK")
     Actual: was OK</div></div><div  class="info"><span class="info-label">I </span>Status code is = 200</div></div></td></tr>
</table>