<h2>Reporter output</h2><table><tr><td><div style="display:block;margin-left:10px;"><div  class="teststeppass"><span class="teststeppass-label">T </span>Sign In</div><div style="display:block;margin-left:10px;"><div  class="info"><span class="info-label">I </span>Flight Details</div><div  class="info"><span class="info-label">I </span>Flight Finder Page loaded Successfully</div><div  class="pass"><span class="pass-label">P </span>Expected By.xpath: //form[@name='findflight']//table//tbody//tr//td//font//font//b//font//font[contains(text(),'Flight')] visible : Actual By.xpath: //form[@name='findflight']//table//tbody//tr//td//font//font//b//font//font[contains(text(),'Flight')] visible <a href="../img/FlightFinderDetails_nlwh1p57z7xn55311.png" target="_blank">[View Screenshot]</a> </div><div  class="info"><span class="info-label">I </span>Currently on Flight Finder page</div></div><div  class="info"><span class="info-label">I </span>Flights Deatils <a href="../img/FlightFinderDetails_hao4r1o0qljj55312.png" target="_blank">[View Screenshot]</a> </div><div  class="info"><span class="info-label">I </span>You are on Select Flight Page <a href="../img/FlightFinderDetails_1g8l6d0g5aq9b55313.png" target="_blank">[View Screenshot]</a> </div><div  class="info"><span class="info-label">I </span>flight name=Unified Airlines 563</div><div  class="info"><span class="info-label">I </span>flight name=Blue Skies Airlines 651</div><div  class="info"><span class="info-label">I </span>Selected flights are: <a href="../img/FlightFinderDetails_6exkj1qnyiio55314.png" target="_blank">[View Screenshot]</a> </div><div  class="info"><span class="info-label">I </span>You are on Book A Flight page <a href="../img/FlightFinderDetails_77ugg6uul8xv55315.png" target="_blank">[View Screenshot]</a> </div><div  class="pass"><span class="pass-label">P </span>
Expected: &lt;true&gt;
     Actual: was &lt;true&gt; <a href="../img/FlightFinderDetails_s0z5byvlcklu55316.png" target="_blank">[View Screenshot]</a> </div><div  class="info"><span class="info-label">I </span>Passengers deatils are filled <a href="../img/FlightFinderDetails_xfqaamjllu1b55317.png" target="_blank">[View Screenshot]</a> </div><div  class="pass"><span class="pass-label">P </span>Expected Departing Portland to New York 8/29/2019 @ 11:24 w/ Unified Airlines 563 Coach $125 each Returning New York to Portland 9/25/2019 @ 14:30 w/ Blue Skies Airlines 651 Coach $99 each Passengers 1 passenger Billed To Elena John Gilbert Aundh Pune, Maharashtra, 458321 AX 0 Delivery Address (N/A for Ticketless Travel) Aundh Mumbai, Maharashtra, 556356786 Total Taxes: $18 USD Total Price (including taxes): $242 USD text should be  Flight Confirmation # 2019-09-09022054 2019-09-09 02:20:54.0
Departing
Portland to New York
8/30/2019 @ 11:24 w/ Unified Airlines 563
Coach
$125 each
Returning
New York to Portland
9/3/2019 @ 14:30 w/ Blue Skies Airlines 651
Coach
$99 each
Passengers
1 passenger
Billed To

201 abc road

New York, CA, 45632
AX 0
Delivery Address (N/A for Ticketless Travel)
201 abc road

New York, CA, 45632
Total Taxes:  $18 USD
Total Price (including taxes):  $242 USD : Actual Departing Portland to New York 8/29/2019 @ 11:24 w/ Unified Airlines 563 Coach $125 each Returning New York to Portland 9/25/2019 @ 14:30 w/ Blue Skies Airlines 651 Coach $99 each Passengers 1 passenger Billed To Elena John Gilbert Aundh Pune, Maharashtra, 458321 AX 0 Delivery Address (N/A for Ticketless Travel) Aundh Mumbai, Maharashtra, 556356786 Total Taxes: $18 USD Total Price (including taxes): $242 USD text is  Flight Confirmation # 2019-09-09022054 2019-09-09 02:20:54.0
Departing
Portland to New York
8/30/2019 @ 11:24 w/ Unified Airlines 563
Coach
$125 each
Returning
New York to Portland
9/3/2019 @ 14:30 w/ Blue Skies Airlines 651
Coach
$99 each
Passengers
1 passenger
Billed To

201 abc road

New York, CA, 45632
AX 0
Delivery Address (N/A for Ticketless Travel)
201 abc road

New York, CA, 45632
Total Taxes:  $18 USD
Total Price (including taxes):  $242 USD <a href="../img/FlightFinderDetails_16jl6jpd5cjbj55318.png" target="_blank">[View Screenshot]</a> </div><div  class="info"><span class="info-label">I </span>Verified the Flight Confirmation Page <a href="../img/FlightFinderDetails_m5kswcy3ybaq55319.png" target="_blank">[View Screenshot]</a> </div><div  class="info"><span class="info-label">I </span>You are on Flight Confirmation Page <a href="../img/FlightFinderDetails_78w3muvroa7b55320.png" target="_blank">[View Screenshot]</a> </div><div  class="info"><span class="info-label">I </span>You are on FlightFinder Page <a href="../img/FlightFinderDetails_1i88a3nrxkzpw55321.png" target="_blank">[View Screenshot]</a> </div></div></td></tr>
</table>