<h2>Reporter output</h2><table><tr><td><div style="display:block;margin-left:10px;"><div  class="teststeppass"><span class="teststeppass-label">T </span>Sign In</div><div style="display:block;margin-left:10px;"><div  class="pass"><span class="pass-label">P </span>Expected By.xpath: //form[@name='findflight']//table//tbody//tr//td//font//font//b//font//font[contains(text(),'Flight')] visible : Actual By.xpath: //form[@name='findflight']//table//tbody//tr//td//font//font//b//font//font[contains(text(),'Flight')] visible <a href="../img/VerifyLogout_56pf48kfye2129361.png" target="_blank">[View Screenshot]</a> </div><div  class="info"><span class="info-label">I </span>Flight Finder Page loaded Successfully</div></div><div  class="pass"><span class="pass-label">P </span>Expected Departing Portland to New York 8/29/2019 @ 11:24 w/ Unified Airlines 563 Coach $125 each Returning New York to Portland 9/25/2019 @ 14:30 w/ Blue Skies Airlines 651 Coach $99 each Passengers 1 passenger Billed To Elena John Gilbert Aundh Pune, Maharashtra, 458321 AX 0 Delivery Address (N/A for Ticketless Travel) Aundh Mumbai, Maharashtra, 556356786 Total Taxes: $18 USD Total Price (including taxes): $242 USD text should be  Flight Confirmation # 2019-09-10052348 2019-09-10 05:23:48.0
Departing
Acapulco to Acapulco
9/10/2019 @ 5:03 w/ Blue Skies Airlines 360
Coach
$270 each
Returning
Acapulco to Acapulco
9/10/2019 @ 12:23 w/ Blue Skies Airlines 630
Coach
$270 each
Passengers
1 passenger
Billed To

1325 Borregas Ave.

Sunnyvale, CA, 94089
AX 0
Delivery Address (N/A for Ticketless Travel)
1325 Borregas Ave.

Sunnyvale, CA, 94089
Total Taxes:  $44 USD
Total Price (including taxes):  $584 USD : Actual Departing Portland to New York 8/29/2019 @ 11:24 w/ Unified Airlines 563 Coach $125 each Returning New York to Portland 9/25/2019 @ 14:30 w/ Blue Skies Airlines 651 Coach $99 each Passengers 1 passenger Billed To Elena John Gilbert Aundh Pune, Maharashtra, 458321 AX 0 Delivery Address (N/A for Ticketless Travel) Aundh Mumbai, Maharashtra, 556356786 Total Taxes: $18 USD Total Price (including taxes): $242 USD text is  Flight Confirmation # 2019-09-10052348 2019-09-10 05:23:48.0
Departing
Acapulco to Acapulco
9/10/2019 @ 5:03 w/ Blue Skies Airlines 360
Coach
$270 each
Returning
Acapulco to Acapulco
9/10/2019 @ 12:23 w/ Blue Skies Airlines 630
Coach
$270 each
Passengers
1 passenger
Billed To

1325 Borregas Ave.

Sunnyvale, CA, 94089
AX 0
Delivery Address (N/A for Ticketless Travel)
1325 Borregas Ave.

Sunnyvale, CA, 94089
Total Taxes:  $44 USD
Total Price (including taxes):  $584 USD <a href="../img/VerifyLogout_qz9dr68p78fg29362.png" target="_blank">[View Screenshot]</a> </div><div  class="info"><span class="info-label">I </span>Verified the Flight Confirmation Page <a href="../img/VerifyLogout_1hjshxzsv0zm029363.png" target="_blank">[View Screenshot]</a> </div><div  class="fail"><span class="fail-label">F </span>Expected By.xpath: //img[@src='/images/masts/mast_signon.gif'] text should be User Name : Actual By.xpath: //img[@src='/images/masts/mast_signon.gif'] text is  <a href="../img/VerifyLogout_hsdnatw8hbg29364.png" target="_blank">[View Screenshot]</a> </div><div  class="fail"><span class="fail-label">F </span>User is not able to logout or not navigating to the home page <a href="../img/VerifyLogout_1zi9kravzv9m29365.png" target="_blank">[View Screenshot]</a> </div></div></td></tr>
</table>