<h2>Reporter output</h2><table><tr><td><div style="display:block;margin-left:10px;"><div  class="teststeppass"><span class="teststeppass-label">T </span>Sign In</div><div style="display:block;margin-left:10px;"><div  class="pass"><span class="pass-label">P </span>Expected By.xpath: //form[@name='findflight']//table//tbody//tr//td//font//font//b//font//font[contains(text(),'Flight')] visible : Actual By.xpath: //form[@name='findflight']//table//tbody//tr//td//font//font//b//font//font[contains(text(),'Flight')] visible <a href="../img/FlightFinderDetails_18a3miw4xejxc6650.png" target="_blank">[View Screenshot]</a> </div><div  class="info"><span class="info-label">I </span>Flight Finder Page loaded Successfully</div></div><div  class="pass"><span class="pass-label">P </span>Expected By.xpath: //form[@name='findflight']//table//tbody//tr//td//font//font//b//font//font[contains(text(),'Flight')] visible : Actual By.xpath: //form[@name='findflight']//table//tbody//tr//td//font//font//b//font//font[contains(text(),'Flight')] visible <a href="../img/FlightFinderDetails_16cc1ez9p0bhv6651.png" target="_blank">[View Screenshot]</a> </div><div  class="pass"><span class="pass-label">P </span>User is able to Login <a href="../img/FlightFinderDetails_dq1a6yqo4aaz6652.png" target="_blank">[View Screenshot]</a> </div><div  class="pass"><span class="pass-label">P </span>Expected By.xpath: //form[@name='findflight']//table//tbody//tr//td//font//font//b//font//font[contains(text(),'Flight')] visible : Actual By.xpath: //form[@name='findflight']//table//tbody//tr//td//font//font//b//font//font[contains(text(),'Flight')] visible <a href="../img/FlightFinderDetails_1n9ludfb335nx6653.png" target="_blank">[View Screenshot]</a> </div><div  class="info"><span class="info-label">I </span>Flight Finder Page loaded Successfully</div><div  class="pass"><span class="pass-label">P </span>Expected By.xpath: //form[@name='findflight']//table//tbody//tr//td//font//font//b//font//font[contains(text(),'Flight')] visible : Actual By.xpath: //form[@name='findflight']//table//tbody//tr//td//font//font//b//font//font[contains(text(),'Flight')] visible <a href="../img/FlightFinderDetails_9y1l9nen22h26654.png" target="_blank">[View Screenshot]</a> </div><div  class="pass"><span class="pass-label">P </span>You are on Flight Finder Page <a href="../img/FlightFinderDetails_1e6qud3or1ihg6655.png" target="_blank">[View Screenshot]</a> </div><div  class="pass"><span class="pass-label">P </span>Expected By.xpath: //img[@src='/images/masts/mast_selectflight.gif'] visible : Actual By.xpath: //img[@src='/images/masts/mast_selectflight.gif'] visible <a href="../img/FlightFinderDetails_19q89h4a0qydl6656.png" target="_blank">[View Screenshot]</a> </div><div  class="pass"><span class="pass-label">P </span>You are on Select Flight Page <a href="../img/FlightFinderDetails_4vq32azaaiyw6657.png" target="_blank">[View Screenshot]</a> </div><div  class="info"><span class="info-label">I </span>flight name=Unified Airlines 563</div><div  class="info"><span class="info-label">I </span>flight name=Blue Skies Airlines 651</div><div  class="pass"><span class="pass-label">P </span>Expected By.xpath: //img[@src ='/images/masts/mast_book.gif'] visible : Actual By.xpath: //img[@src ='/images/masts/mast_book.gif'] visible <a href="../img/FlightFinderDetails_mvwzxlpkjqvp6658.png" target="_blank">[View Screenshot]</a> </div><div  class="pass"><span class="pass-label">P </span>You are on Book A Flight Page <a href="../img/FlightFinderDetails_1l4gmmtlwej1y6659.png" target="_blank">[View Screenshot]</a> </div><div  class="pass"><span class="pass-label">P </span>Expected By.xpath: //form[@name='bookflight']/table/tbody/tr[2]/td[1] text should be Portland to New York 8/30/2019
FLIGHT CLASS PRICE
Unified Airlines 563 Coach
125
New York to Portland 9/3/2019
FLIGHT CLASS PRICE
Blue Skies Airlines 651 Coach 99
Passengers: 1
    Taxes: $18
    Total Price (including taxes): $242 : Actual By.xpath: //form[@name='bookflight']/table/tbody/tr[2]/td[1] text is Portland to New York 8/30/2019
FLIGHT CLASS PRICE
Unified Airlines 563 Coach
125
New York to Portland 9/3/2019
FLIGHT CLASS PRICE
Blue Skies Airlines 651 Coach 99
Passengers: 1
    Taxes: $18
    Total Price (including taxes): $242 <a href="../img/FlightFinderDetails_rpxyqanv3gxz6660.png" target="_blank">[View Screenshot]</a> </div><div  class="pass"><span class="pass-label">P </span>Summary is Verified <a href="../img/FlightFinderDetails_1ms1lifazzy956661.png" target="_blank">[View Screenshot]</a> </div><div  class="info"><span class="info-label">I </span>Passengers deatils are filled <a href="../img/FlightFinderDetails_1cbc6gylw4s1z6662.png" target="_blank">[View Screenshot]</a> </div><div  class="info"><span class="info-label">I </span>Verified the Flight Confirmation Page <a href="../img/FlightFinderDetails_np3ndfcmyyt36663.png" target="_blank">[View Screenshot]</a> </div><div  class="pass"><span class="pass-label">P </span>Expected By.xpath: //img[@src="/images/masts/mast_confirmation.gif"] visible : Actual By.xpath: //img[@src="/images/masts/mast_confirmation.gif"] visible <a href="../img/FlightFinderDetails_1g4fgriunm6z86664.png" target="_blank">[View Screenshot]</a> </div><div  class="pass"><span class="pass-label">P </span>You are on Flight Confirmation Page <a href="../img/FlightFinderDetails_1c8la46umuo4u6665.png" target="_blank">[View Screenshot]</a> </div><div  class="pass"><span class="pass-label">P </span>Expected By.xpath: //img[@src="/images/masts/mast_confirmation.gif"] text should be  : Actual By.xpath: //img[@src="/images/masts/mast_confirmation.gif"] text is  <a href="../img/FlightFinderDetails_v7ghtlammu6h6666.png" target="_blank">[View Screenshot]</a> </div><div  class="pass"><span class="pass-label">P </span>Confiramtion Page Text is  Verified <a href="../img/FlightFinderDetails_1mt7dvdd86v8r6667.png" target="_blank">[View Screenshot]</a> </div><div  class="pass"><span class="pass-label">P </span>Expected By.xpath: //form[@name='findflight']//table//tbody//tr//td//font//font//b//font//font[contains(text(),'Flight')] visible : Actual By.xpath: //form[@name='findflight']//table//tbody//tr//td//font//font//b//font//font[contains(text(),'Flight')] visible <a href="../img/FlightFinderDetails_qk2dhm7s7wxb6668.png" target="_blank">[View Screenshot]</a> </div><div  class="info"><span class="info-label">I </span>Flight Finder Page loaded Successfully</div><div  class="pass"><span class="pass-label">P </span>Expected By.xpath: //form[@name='findflight']//table//tbody//tr//td//font//font//b//font//font[contains(text(),'Flight')] visible : Actual By.xpath: //form[@name='findflight']//table//tbody//tr//td//font//font//b//font//font[contains(text(),'Flight')] visible <a href="../img/FlightFinderDetails_oovhe6hxrbws6669.png" target="_blank">[View Screenshot]</a> </div><div  class="pass"><span class="pass-label">P </span>You are on Flight Finder Page <a href="../img/FlightFinderDetails_5fdwhplc96v76670.png" target="_blank">[View Screenshot]</a> </div></div></td></tr>
</table>