<h2>Methods that were not run</h2><table>
<tr><td>com.qmetry.mercurytours.tests.HomeTest.verifyUserIsAbleToSignInFromSignInSectionOfHomePage</td></tr>
<tr><td>com.qmetry.mercurytours.tests.HomeTest.backToHomePageFromContactPage</td></tr>
<tr><td>com.qmetry.mercurytours.tests.HomeTest.verifyLogout</td></tr>
<tr><td>com.qmetry.mercurytours.tests.HomeTest.invalidCredentials<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>XML Data</i></td></tr>
</table>