<h2>Reporter output</h2><table><tr><td><div style="display:block;margin-left:10px;"><div  class="teststepfail"><span class="teststepfail-label">T </span>Sign In <a href="../img/FlightFinderDetails_e1iuoj0hm4hd2118.png" target="_blank">[View Screenshot]</a> </div><div style="display:block;margin-left:10px;"><div  class="fail"><span class="fail-label">F </span>org.openqa.selenium.TimeoutException: Timed out after 60 seconds waiting for presence of element located by: By.xpath: //input[@name='userName']</div></div></div></td></tr>
</table>