<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>QAF Demo</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="94c7ba">  <td>19/08/20 05:47:20</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterClass(org.testng.ITestContext)[pri:0, instance:com.qmetry.mercurytours.tests.HomeTest@42f93a98]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@564742142</td>   <td></td> </tr>
<tr bgcolor="94c7ba">  <td>19/08/20 05:47:20</td>   <td>-1</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterMethod(org.testng.ITestContext, org.testng.ITestResult)[pri:0, instance:com.qmetry.mercurytours.tests.HomeTest@42f93a98]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@564742142</td>   <td></td> </tr>
<tr bgcolor="78c790">  <td>19/08/20 05:47:20</td>   <td>171</td> <td title="&lt;&lt;TestNGTestCase.afterSuit(org.testng.ITestContext)[pri:0, instance:com.qmetry.mercurytours.tests.HomeTest@42f93a98]">&lt;&lt;afterSuit</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@564742142</td>   <td></td> </tr>
<tr bgcolor="94c7ba">  <td>19/08/20 05:47:20</td>   <td>0</td> <td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterTest(org.testng.ITestContext)[pri:0, instance:com.qmetry.mercurytours.tests.HomeTest@42f93a98]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@564742142</td>   <td></td> </tr>
<tr bgcolor="78c790">  <td>19/08/20 05:47:10</td>   <td>-10040</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGTestCase.setup(org.testng.ITestContext)[pri:0, instance:com.qmetry.mercurytours.tests.HomeTest@42f93a98]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@564742142</td>   <td></td> </tr>
<tr bgcolor="78c790">  <td>19/08/20 05:47:10</td>   <td>-10034</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGTestCase.setupMethod(java.lang.reflect.Method, org.testng.ITestContext)[pri:0, instance:com.qmetry.mercurytours.tests.HomeTest@42f93a98]">&gt;&gt;setupMethod</td> 
<td>&nbsp;</td>  <td>main@564742142</td>   <td></td> </tr>
<tr bgcolor="78c790">  <td>19/08/20 05:47:10</td>   <td>-10090</td> <td title="&gt;&gt;TestNGTestCase.setupSuit(org.testng.ITestContext)[pri:0, instance:com.qmetry.mercurytours.tests.HomeTest@42f93a98]">&gt;&gt;setupSuit</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@564742142</td>   <td></td> </tr>
<tr bgcolor="78c790">  <td>19/08/20 05:47:10</td>   <td>-10055</td> <td>&nbsp;</td><td title="&gt;&gt;TestNGTestCase.setupTest(org.testng.ITestContext)[pri:0, instance:com.qmetry.mercurytours.tests.HomeTest@42f93a98]">&gt;&gt;setupTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@564742142</td>   <td></td> </tr>
<tr bgcolor="fbd876">  <td>19/08/20 05:47:10</td>   <td>-10029</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomeTest.verifyDifferentComponentsAndLinksOfTheHomepage()[pri:0, instance:com.qmetry.mercurytours.tests.HomeTest@42f93a98]">verifyDifferentComponentsAndLinksOfTheHomepage</td> 
  <td>main@564742142</td>   <td></td> </tr>
</table>
