<h2>Reporter output</h2><table><tr><td><div style="display:block;margin-left:10px;"><div  class="teststepfail"><span class="teststepfail-label">T </span>Sign In <a href="../img/FlightFinderDetails_17zjxtmrzji0k42982.png" target="_blank">[View Screenshot]</a> </div><div style="display:block;margin-left:10px;"><div  class="fail"><span class="fail-label">F </span>org.openqa.selenium.TimeoutException: Timed out after 60 seconds: Wait time out for By.xpath: //form[@name='findflight']//table//tbody//tr//td//font//font//b//font//font[contains(text(),'Flight')] to be visible
Build info: version: '3.141.59', revision: 'e82be7d358', time: '2018-11-14T08:17:03'
System info: host: 'ICPL12742', ip: '10.11.29.111', os.name: 'Windows 10', os.arch: 'amd64', os.version: '10.0', java.version: '1.8.0_161'
Driver info: driver.version: unknown</div></div></div></td></tr>
</table>