<h2>Reporter output</h2><table><tr><td><div style="display:block;margin-left:10px;"><div  class="teststeppass"><span class="teststeppass-label">T </span>Sign In</div><div style="display:block;margin-left:10px;"><div  class="info"><span class="info-label">I </span>Flight Details</div><div  class="info"><span class="info-label">I </span>Flight Finder Page loaded Successfully</div><div  class="pass"><span class="pass-label">P </span>Expected By.xpath: //form[@name='findflight']//table//tbody//tr//td//font//font//b//font//font[contains(text(),'Flight')] visible : Actual By.xpath: //form[@name='findflight']//table//tbody//tr//td//font//font//b//font//font[contains(text(),'Flight')] visible <a href="../img/FlightFinderDetails_y21bvuarz3wi19198.png" target="_blank">[View Screenshot]</a> </div><div  class="info"><span class="info-label">I </span>Currently on Flight Finder page</div></div><div  class="info"><span class="info-label">I </span>Flights Deatils <a href="../img/FlightFinderDetails_9tn6w02nzlmx19199.png" target="_blank">[View Screenshot]</a> </div><div  class="info"><span class="info-label">I </span>You are on Select Flight Page <a href="../img/FlightFinderDetails_1dhd4w81i62f119200.png" target="_blank">[View Screenshot]</a> </div><div  class="info"><span class="info-label">I </span>flight name=Unified Airlines 563</div><div  class="info"><span class="info-label">I </span>flight name=Blue Skies Airlines 651</div><div  class="info"><span class="info-label">I </span>Selected flights are: <a href="../img/FlightFinderDetails_1awidw1lwoocl19201.png" target="_blank">[View Screenshot]</a> </div><div  class="info"><span class="info-label">I </span>You are on Book A Flight page <a href="../img/FlightFinderDetails_fcmrdj7lyy4819202.png" target="_blank">[View Screenshot]</a> </div><div  class="pass"><span class="pass-label">P </span>
Expected: &lt;true&gt;
     Actual: was &lt;true&gt; <a href="../img/FlightFinderDetails_nwl2hiudi38r19203.png" target="_blank">[View Screenshot]</a> </div><div  class="info"><span class="info-label">I </span>Passengers deatils are filled <a href="../img/FlightFinderDetails_1jhx6mds4isoh19204.png" target="_blank">[View Screenshot]</a> </div><div  class="pass"><span class="pass-label">P </span>Expected null text should be  Flight Confirmation # 2019-09-09021809 2019-09-09 02:18:09.0
Departing
Portland to New York
8/30/2019 @ 11:24 w/ Unified Airlines 563
Coach
$125 each
Returning
New York to Portland
9/3/2019 @ 14:30 w/ Blue Skies Airlines 651
Coach
$99 each
Passengers
1 passenger
Billed To

201 abc road

New York, CA, 45632
AX 0
Delivery Address (N/A for Ticketless Travel)
201 abc road

New York, CA, 45632
Total Taxes:  $18 USD
Total Price (including taxes):  $242 USD : Actual null text is  Flight Confirmation # 2019-09-09021809 2019-09-09 02:18:09.0
Departing
Portland to New York
8/30/2019 @ 11:24 w/ Unified Airlines 563
Coach
$125 each
Returning
New York to Portland
9/3/2019 @ 14:30 w/ Blue Skies Airlines 651
Coach
$99 each
Passengers
1 passenger
Billed To

201 abc road

New York, CA, 45632
AX 0
Delivery Address (N/A for Ticketless Travel)
201 abc road

New York, CA, 45632
Total Taxes:  $18 USD
Total Price (including taxes):  $242 USD <a href="../img/FlightFinderDetails_1512xnc5juosm19205.png" target="_blank">[View Screenshot]</a> </div><div  class="info"><span class="info-label">I </span>Verified the Flight Confirmation Page <a href="../img/FlightFinderDetails_bch9g1lmp77x19206.png" target="_blank">[View Screenshot]</a> </div><div  class="info"><span class="info-label">I </span>You are on Flight Confirmation Page <a href="../img/FlightFinderDetails_1n1v4t0v9a3dy19207.png" target="_blank">[View Screenshot]</a> </div><div  class="info"><span class="info-label">I </span>You are on FlightFinder Page <a href="../img/FlightFinderDetails_nqd9cvc0f47019208.png" target="_blank">[View Screenshot]</a> </div></div></td></tr>
</table>