<h2>Reporter output</h2><table><tr><td><div style="display:block;margin-left:10px;"><div  class="teststepfail"><span class="teststepfail-label">T </span>Top Components</div><div style="display:block;margin-left:10px;"><div  class="fail"><span class="fail-label">F </span>Expected [unknown locator] present : Actual [unknown locator] not present</div><div  class="fail"><span class="fail-label">F </span>java.lang.AssertionError</div></div></div></td></tr>
</table>