<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>QAF Demo</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="be8bc2">  <td>19/09/13 19:27:35</td>   <td>0</td> <td title="&gt;&gt;TestNGTestCase.setupSuit(org.testng.ITestContext)[pri:0, instance:com.qmetry.mercurytours.tests.RegisterTest@58c1670b]">&gt;&gt;setupSuit</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1849201180</td>   <td></td> </tr>
<tr bgcolor="be8bc2">  <td>19/09/13 19:27:35</td>   <td>68</td> <td>&nbsp;</td><td title="&gt;&gt;TestNGTestCase.setupTest(org.testng.ITestContext)[pri:0, instance:com.qmetry.mercurytours.tests.RegisterTest@58c1670b]">&gt;&gt;setupTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1849201180</td>   <td></td> </tr>
<tr bgcolor="be8bc2">  <td>19/09/13 19:27:35</td>   <td>84</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGTestCase.setup(org.testng.ITestContext)[pri:0, instance:com.qmetry.mercurytours.tests.RegisterTest@58c1670b]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1849201180</td>   <td></td> </tr>
<tr bgcolor="be8bc2">  <td>19/09/13 19:27:35</td>   <td>647</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGTestCase.setupMethod(java.lang.reflect.Method, org.testng.ITestContext)[pri:0, instance:com.qmetry.mercurytours.tests.RegisterTest@58c1670b]">&gt;&gt;setupMethod</td> 
<td>&nbsp;</td>  <td>main@1849201180</td>   <td></td> </tr>
<tr bgcolor="78f375">  <td>19/09/13 19:27:35</td>   <td>650</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegisterTest.invalidRegisterUser(java.util.Map)[pri:0, instance:com.qmetry.mercurytours.tests.RegisterTest@58c1670b]">invalidRegisterUser</td> 
  <td>main@1849201180</td>   <td></td> </tr>
<tr bgcolor="99f37e">  <td>19/09/13 19:27:54</td>   <td>19445</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterMethod(org.testng.ITestContext, org.testng.ITestResult)[pri:0, instance:com.qmetry.mercurytours.tests.RegisterTest@58c1670b]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1849201180</td>   <td></td> </tr>
<tr bgcolor="be8bc2">  <td>19/09/13 19:27:54</td>   <td>19446</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGTestCase.setupMethod(java.lang.reflect.Method, org.testng.ITestContext)[pri:0, instance:com.qmetry.mercurytours.tests.RegisterTest@58c1670b]">&gt;&gt;setupMethod</td> 
<td>&nbsp;</td>  <td>main@1849201180</td>   <td></td> </tr>
<tr bgcolor="78f375">  <td>19/09/13 19:27:54</td>   <td>19447</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegisterTest.invalidRegisterUser(java.util.Map)[pri:0, instance:com.qmetry.mercurytours.tests.RegisterTest@58c1670b]">invalidRegisterUser</td> 
  <td>main@1849201180</td>   <td></td> </tr>
<tr bgcolor="99f37e">  <td>19/09/13 19:27:56</td>   <td>21290</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterMethod(org.testng.ITestContext, org.testng.ITestResult)[pri:0, instance:com.qmetry.mercurytours.tests.RegisterTest@58c1670b]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1849201180</td>   <td></td> </tr>
<tr bgcolor="be8bc2">  <td>19/09/13 19:27:56</td>   <td>21291</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGTestCase.setupMethod(java.lang.reflect.Method, org.testng.ITestContext)[pri:0, instance:com.qmetry.mercurytours.tests.RegisterTest@58c1670b]">&gt;&gt;setupMethod</td> 
<td>&nbsp;</td>  <td>main@1849201180</td>   <td></td> </tr>
<tr bgcolor="78f375">  <td>19/09/13 19:27:56</td>   <td>21292</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegisterTest.invalidRegisterUser(java.util.Map)[pri:0, instance:com.qmetry.mercurytours.tests.RegisterTest@58c1670b]">invalidRegisterUser</td> 
  <td>main@1849201180</td>   <td></td> </tr>
<tr bgcolor="99f37e">  <td>19/09/13 19:27:58</td>   <td>22890</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterMethod(org.testng.ITestContext, org.testng.ITestResult)[pri:0, instance:com.qmetry.mercurytours.tests.RegisterTest@58c1670b]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1849201180</td>   <td></td> </tr>
<tr bgcolor="be8bc2">  <td>19/09/13 19:27:58</td>   <td>22891</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGTestCase.setupMethod(java.lang.reflect.Method, org.testng.ITestContext)[pri:0, instance:com.qmetry.mercurytours.tests.RegisterTest@58c1670b]">&gt;&gt;setupMethod</td> 
<td>&nbsp;</td>  <td>main@1849201180</td>   <td></td> </tr>
<tr bgcolor="78f375">  <td>19/09/13 19:27:58</td>   <td>22892</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegisterTest.invalidRegisterUser(java.util.Map)[pri:0, instance:com.qmetry.mercurytours.tests.RegisterTest@58c1670b]">invalidRegisterUser</td> 
  <td>main@1849201180</td>   <td></td> </tr>
<tr bgcolor="99f37e">  <td>19/09/13 19:27:59</td>   <td>24367</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterMethod(org.testng.ITestContext, org.testng.ITestResult)[pri:0, instance:com.qmetry.mercurytours.tests.RegisterTest@58c1670b]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1849201180</td>   <td></td> </tr>
<tr bgcolor="99f37e">  <td>19/09/13 19:27:59</td>   <td>24368</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterClass(org.testng.ITestContext)[pri:0, instance:com.qmetry.mercurytours.tests.RegisterTest@58c1670b]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1849201180</td>   <td></td> </tr>
<tr bgcolor="99f37e">  <td>19/09/13 19:27:59</td>   <td>24371</td> <td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterTest(org.testng.ITestContext)[pri:0, instance:com.qmetry.mercurytours.tests.RegisterTest@58c1670b]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1849201180</td>   <td></td> </tr>
<tr bgcolor="be8bc2">  <td>19/09/13 19:27:59</td>   <td>24622</td> <td title="&lt;&lt;TestNGTestCase.afterSuit(org.testng.ITestContext)[pri:0, instance:com.qmetry.mercurytours.tests.RegisterTest@58c1670b]">&lt;&lt;afterSuit</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1849201180</td>   <td></td> </tr>
</table>
