<h2>Reporter output</h2><table><tr><td><div style="display:block;margin-left:10px;"><div  class="info"><span class="info-label">I </span>All Invaild data <a href="../img/InvalidRegisterUser_1k4y7168awtvz8212.png" target="_blank">[View Screenshot]</a> </div><div  class="info"><span class="info-label">I </span>See msg as follow: <a href="../img/InvalidRegisterUser_dm6dj8n96oos8213.png" target="_blank">[View Screenshot]</a> </div><div  class="pass"><span class="pass-label">P </span>Expected By.xpath: //td//td[2]//table[1]//tbody[1]//tr[3]//td[1] text should be Dear Elena Gilbert,
Thank you for registering. You may now sign-in using the user name and password you've just entered.
Note: Your user name is . : Actual By.xpath: //td//td[2]//table[1]//tbody[1]//tr[3]//td[1] text is Dear Elena Gilbert,
Thank you for registering. You may now sign-in using the user name and password you've just entered.
Note: Your user name is . <a href="../img/InvalidRegisterUser_dehpo0ocy43y8214.png" target="_blank">[View Screenshot]</a> </div><div  class="pass"><span class="pass-label">P </span>You will get 'Thankyou you are registered' meassge!! <a href="../img/InvalidRegisterUser_1mnhekjopnwds8215.png" target="_blank">[View Screenshot]</a> </div></div></td></tr>
<tr><td><div style="display:block;margin-left:10px;"><div  class="fail"><span class="fail-label">F </span>java.lang.Long cannot be cast to java.lang.String <a href="../img/InvalidRegisterUser_85i6d6rooit78216.png" target="_blank">[View Screenshot]</a> </div></div></td></tr>
<tr><td><div style="display:block;margin-left:10px;"><div  class="fail"><span class="fail-label">F </span>java.lang.Long cannot be cast to java.lang.String <a href="../img/InvalidRegisterUser_upri2prklsa98217.png" target="_blank">[View Screenshot]</a> </div></div></td></tr>
<tr><td><div style="display:block;margin-left:10px;"><div  class="fail"><span class="fail-label">F </span>java.lang.Integer cannot be cast to java.lang.String <a href="../img/InvalidRegisterUser_1hdotazyhtrkk8218.png" target="_blank">[View Screenshot]</a> </div></div></td></tr>
</table>