<h2>Reporter output</h2><table><tr><td>You are on Sign on Page</td></tr>
<tr><td><div style="display:block;margin-left:10px;"><div  class="fail"><span class="fail-label">F </span>Expected By.xpath: //input[@name='userName'] text should be Exact:Welcome back to Mercury Tours! : Actual By.xpath: //input[@name='userName'] text is  <a href="../img/InvalidCredentials_hbdj1unoxpro402.png" target="_blank">[View Screenshot]</a> </div><div  class="info"><span class="info-label">I </span>Invaild credentails ...</div><div  class="info"><span class="info-label">I </span>You are on Sign on Page <a href="../img/InvalidCredentials_1fm17ka1y2q5d403.png" target="_blank">[View Screenshot]</a> </div></div></td></tr>
<tr><td>You are on Sign on Page</td></tr>
<tr><td><div style="display:block;margin-left:10px;"><div  class="fail"><span class="fail-label">F </span>Expected By.xpath: //input[@name='userName'] text should be Exact:Welcome back to Mercury Tours! : Actual By.xpath: //input[@name='userName'] text is  <a href="../img/InvalidCredentials_1hk3x8z4kampo404.png" target="_blank">[View Screenshot]</a> </div><div  class="info"><span class="info-label">I </span>Invaild credentails ...</div><div  class="info"><span class="info-label">I </span>You are on Sign on Page <a href="../img/InvalidCredentials_18lbb91h3xkfc405.png" target="_blank">[View Screenshot]</a> </div></div></td></tr>
<tr><td>You are on Sign on Page</td></tr>
<tr><td><div style="display:block;margin-left:10px;"><div  class="fail"><span class="fail-label">F </span>Expected By.xpath: //input[@name='userName'] text should be Exact:Welcome back to Mercury Tours! : Actual By.xpath: //input[@name='userName'] text is  <a href="../img/InvalidCredentials_1sciirwix1l84406.png" target="_blank">[View Screenshot]</a> </div><div  class="info"><span class="info-label">I </span>Invaild credentails ...</div><div  class="info"><span class="info-label">I </span>You are on Sign on Page <a href="../img/InvalidCredentials_3ukuii9yhqzf407.png" target="_blank">[View Screenshot]</a> </div></div></td></tr>
</table>