<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>QAF Demo</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b58d72">  <td>19/09/10 03:25:17</td>   <td>0</td> <td title="&gt;&gt;TestNGTestCase.setupSuit(org.testng.ITestContext)[pri:0, instance:com.qmetry.mercurytours.tests.HomeTest@72b6cbcc]">&gt;&gt;setupSuit</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@494586676</td>   <td></td> </tr>
<tr bgcolor="b58d72">  <td>19/09/10 03:25:17</td>   <td>25</td> <td>&nbsp;</td><td title="&gt;&gt;TestNGTestCase.setupTest(org.testng.ITestContext)[pri:0, instance:com.qmetry.mercurytours.tests.HomeTest@72b6cbcc]">&gt;&gt;setupTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@494586676</td>   <td></td> </tr>
<tr bgcolor="b58d72">  <td>19/09/10 03:25:17</td>   <td>34</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGTestCase.setup(org.testng.ITestContext)[pri:0, instance:com.qmetry.mercurytours.tests.HomeTest@72b6cbcc]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@494586676</td>   <td></td> </tr>
<tr bgcolor="b58d72">  <td>19/09/10 03:25:17</td>   <td>36</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGTestCase.setupMethod(java.lang.reflect.Method, org.testng.ITestContext)[pri:0, instance:com.qmetry.mercurytours.tests.HomeTest@72b6cbcc]">&gt;&gt;setupMethod</td> 
<td>&nbsp;</td>  <td>main@494586676</td>   <td></td> </tr>
<tr bgcolor="ebec75">  <td>19/09/10 03:25:17</td>   <td>37</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomeTest.backToHomePageFromContactPage()[pri:4, instance:com.qmetry.mercurytours.tests.HomeTest@72b6cbcc]">backToHomePageFromContactPage</td> 
  <td>main@494586676</td>   <td></td> </tr>
<tr bgcolor="b6a4a7">  <td>19/09/10 03:25:25</td>   <td>8406</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterMethod(org.testng.ITestContext, org.testng.ITestResult)[pri:0, instance:com.qmetry.mercurytours.tests.HomeTest@72b6cbcc]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@494586676</td>   <td></td> </tr>
<tr bgcolor="b6a4a7">  <td>19/09/10 03:25:25</td>   <td>8407</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterClass(org.testng.ITestContext)[pri:0, instance:com.qmetry.mercurytours.tests.HomeTest@72b6cbcc]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@494586676</td>   <td></td> </tr>
<tr bgcolor="b6a4a7">  <td>19/09/10 03:25:25</td>   <td>8409</td> <td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterTest(org.testng.ITestContext)[pri:0, instance:com.qmetry.mercurytours.tests.HomeTest@72b6cbcc]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@494586676</td>   <td></td> </tr>
<tr bgcolor="b58d72">  <td>19/09/10 03:25:25</td>   <td>8577</td> <td title="&lt;&lt;TestNGTestCase.afterSuit(org.testng.ITestContext)[pri:0, instance:com.qmetry.mercurytours.tests.HomeTest@72b6cbcc]">&lt;&lt;afterSuit</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@494586676</td>   <td></td> </tr>
</table>
