<h2>Reporter output</h2><table><tr><td><div style="display:block;margin-left:10px;"><div  class="info"><span class="info-label">I </span>Back to home page <a href="../img/BackToHomePageFromContactPage_1f0p364blm24g34294.png" target="_blank">[View Screenshot]</a> </div></div></td></tr>
</table>