<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>QAF Demo</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="be8bc2">  <td>19/09/10 18:02:49</td>   <td>0</td> <td title="&gt;&gt;TestNGTestCase.setupSuit(org.testng.ITestContext)[pri:0, instance:com.qmetry.mercurytours.tests.HomeTest@58c1670b]">&gt;&gt;setupSuit</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1849201180</td>   <td></td> </tr>
<tr bgcolor="be8bc2">  <td>19/09/10 18:02:49</td>   <td>38</td> <td>&nbsp;</td><td title="&gt;&gt;TestNGTestCase.setupTest(org.testng.ITestContext)[pri:0, instance:com.qmetry.mercurytours.tests.HomeTest@58c1670b]">&gt;&gt;setupTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1849201180</td>   <td></td> </tr>
<tr bgcolor="be8bc2">  <td>19/09/10 18:02:49</td>   <td>47</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGTestCase.setup(org.testng.ITestContext)[pri:0, instance:com.qmetry.mercurytours.tests.HomeTest@58c1670b]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1849201180</td>   <td></td> </tr>
<tr bgcolor="be8bc2">  <td>19/09/10 18:02:49</td>   <td>70</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGTestCase.setupMethod(java.lang.reflect.Method, org.testng.ITestContext)[pri:0, instance:com.qmetry.mercurytours.tests.HomeTest@58c1670b]">&gt;&gt;setupMethod</td> 
<td>&nbsp;</td>  <td>main@1849201180</td>   <td></td> </tr>
<tr bgcolor="78f375">  <td>19/09/10 18:02:49</td>   <td>81</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomeTest.invalidCredentials(java.util.Map)[pri:3, instance:com.qmetry.mercurytours.tests.HomeTest@58c1670b]">invalidCredentials</td> 
  <td>main@1849201180</td>   <td></td> </tr>
<tr bgcolor="99f37e">  <td>19/09/10 18:02:58</td>   <td>9254</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterMethod(org.testng.ITestContext, org.testng.ITestResult)[pri:0, instance:com.qmetry.mercurytours.tests.HomeTest@58c1670b]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1849201180</td>   <td></td> </tr>
<tr bgcolor="be8bc2">  <td>19/09/10 18:02:58</td>   <td>9255</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGTestCase.setupMethod(java.lang.reflect.Method, org.testng.ITestContext)[pri:0, instance:com.qmetry.mercurytours.tests.HomeTest@58c1670b]">&gt;&gt;setupMethod</td> 
<td>&nbsp;</td>  <td>main@1849201180</td>   <td></td> </tr>
<tr bgcolor="78f375">  <td>19/09/10 18:02:58</td>   <td>9256</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomeTest.invalidCredentials(java.util.Map)[pri:3, instance:com.qmetry.mercurytours.tests.HomeTest@58c1670b]">invalidCredentials</td> 
  <td>main@1849201180</td>   <td></td> </tr>
<tr bgcolor="99f37e">  <td>19/09/10 18:03:02</td>   <td>13027</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterMethod(org.testng.ITestContext, org.testng.ITestResult)[pri:0, instance:com.qmetry.mercurytours.tests.HomeTest@58c1670b]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1849201180</td>   <td></td> </tr>
<tr bgcolor="be8bc2">  <td>19/09/10 18:03:02</td>   <td>13028</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGTestCase.setupMethod(java.lang.reflect.Method, org.testng.ITestContext)[pri:0, instance:com.qmetry.mercurytours.tests.HomeTest@58c1670b]">&gt;&gt;setupMethod</td> 
<td>&nbsp;</td>  <td>main@1849201180</td>   <td></td> </tr>
<tr bgcolor="78f375">  <td>19/09/10 18:03:02</td>   <td>13028</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomeTest.invalidCredentials(java.util.Map)[pri:3, instance:com.qmetry.mercurytours.tests.HomeTest@58c1670b]">invalidCredentials</td> 
  <td>main@1849201180</td>   <td></td> </tr>
<tr bgcolor="99f37e">  <td>19/09/10 18:03:05</td>   <td>16597</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterMethod(org.testng.ITestContext, org.testng.ITestResult)[pri:0, instance:com.qmetry.mercurytours.tests.HomeTest@58c1670b]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1849201180</td>   <td></td> </tr>
<tr bgcolor="99f37e">  <td>19/09/10 18:03:05</td>   <td>16598</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterClass(org.testng.ITestContext)[pri:0, instance:com.qmetry.mercurytours.tests.HomeTest@58c1670b]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1849201180</td>   <td></td> </tr>
<tr bgcolor="99f37e">  <td>19/09/10 18:03:05</td>   <td>16599</td> <td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterTest(org.testng.ITestContext)[pri:0, instance:com.qmetry.mercurytours.tests.HomeTest@58c1670b]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1849201180</td>   <td></td> </tr>
<tr bgcolor="be8bc2">  <td>19/09/10 18:03:06</td>   <td>16818</td> <td title="&lt;&lt;TestNGTestCase.afterSuit(org.testng.ITestContext)[pri:0, instance:com.qmetry.mercurytours.tests.HomeTest@58c1670b]">&lt;&lt;afterSuit</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1849201180</td>   <td></td> </tr>
</table>
