<h2>Reporter output</h2><table><tr><td><div style="display:block;margin-left:10px;"><div  class="teststeppass"><span class="teststeppass-label">T </span>Sign In</div><div style="display:block;margin-left:10px;"><div  class="pass"><span class="pass-label">P </span>Expected By.xpath: //form[@name='findflight']//table//tbody//tr//td//font//font//b//font//font[contains(text(),'Flight')] visible : Actual By.xpath: //form[@name='findflight']//table//tbody//tr//td//font//font//b//font//font[contains(text(),'Flight')] visible <a href="../img/FlightFinderDetails_1qi4fl9wdm0qc60638.png" target="_blank">[View Screenshot]</a> </div><div  class="info"><span class="info-label">I </span>Flight Finder Page loaded Successfully</div></div><div  class="pass"><span class="pass-label">P </span>Expected By.xpath: //form[@name='findflight']//table//tbody//tr//td//font//font//b//font//font[contains(text(),'Flight')] visible : Actual By.xpath: //form[@name='findflight']//table//tbody//tr//td//font//font//b//font//font[contains(text(),'Flight')] visible <a href="../img/FlightFinderDetails_yskh8jyns6no60639.png" target="_blank">[View Screenshot]</a> </div><div  class="pass"><span class="pass-label">P </span>User is able to Login <a href="../img/FlightFinderDetails_qaacafjumpme60640.png" target="_blank">[View Screenshot]</a> </div><div  class="info"><span class="info-label">I </span>Flights Deatils <a href="../img/FlightFinderDetails_5wmdtocfuup660641.png" target="_blank">[View Screenshot]</a> </div><div  class="pass"><span class="pass-label">P </span>Expected By.xpath: //img[@src='/images/masts/mast_selectflight.gif'] visible : Actual By.xpath: //img[@src='/images/masts/mast_selectflight.gif'] visible <a href="../img/FlightFinderDetails_70mmu8wi2gi660642.png" target="_blank">[View Screenshot]</a> </div><div  class="pass"><span class="pass-label">P </span>You are on Select Flight Page <a href="../img/FlightFinderDetails_1me0boooixgbx60643.png" target="_blank">[View Screenshot]</a> </div><div  class="info"><span class="info-label">I </span>flight name=Unified Airlines 563</div><div  class="info"><span class="info-label">I </span>flight name=Blue Skies Airlines 651</div><div  class="info"><span class="info-label">I </span>Selected flights are: <a href="../img/FlightFinderDetails_peholrr4e6t460644.png" target="_blank">[View Screenshot]</a> </div><div  class="info"><span class="info-label">I </span>You are on Book A Flight page <a href="../img/FlightFinderDetails_1e24umh0bxkh860645.png" target="_blank">[View Screenshot]</a> </div><div  class="pass"><span class="pass-label">P </span>
Expected: &lt;true&gt;
     Actual: was &lt;true&gt; <a href="../img/FlightFinderDetails_vh7yfvvcal160646.png" target="_blank">[View Screenshot]</a> </div><div  class="info"><span class="info-label">I </span>Passengers deatils are filled <a href="../img/FlightFinderDetails_ya5vi9vpfl60647.png" target="_blank">[View Screenshot]</a> </div><div  class="pass"><span class="pass-label">P </span>Expected Departing Portland to New York 8/29/2019 @ 11:24 w/ Unified Airlines 563 Coach $125 each Returning New York to Portland 9/25/2019 @ 14:30 w/ Blue Skies Airlines 651 Coach $99 each Passengers 1 passenger Billed To Elena John Gilbert Aundh Pune, Maharashtra, 458321 AX 0 Delivery Address (N/A for Ticketless Travel) Aundh Mumbai, Maharashtra, 556356786 Total Taxes: $18 USD Total Price (including taxes): $242 USD text should be  Flight Confirmation # 2019-09-16010425 2019-09-16 01:04:25.0
Departing
Portland to New York
8/30/2019 @ 11:24 w/ Unified Airlines 563
Coach
$125 each
Returning
New York to Portland
9/3/2019 @ 14:30 w/ Blue Skies Airlines 651
Coach
$99 each
Passengers
1 passenger
Billed To

201 abc road

New York, CA, 45632
AX 0
Delivery Address (N/A for Ticketless Travel)
201 abc road

New York, CA, 45632
Total Taxes:  $18 USD
Total Price (including taxes):  $242 USD : Actual Departing Portland to New York 8/29/2019 @ 11:24 w/ Unified Airlines 563 Coach $125 each Returning New York to Portland 9/25/2019 @ 14:30 w/ Blue Skies Airlines 651 Coach $99 each Passengers 1 passenger Billed To Elena John Gilbert Aundh Pune, Maharashtra, 458321 AX 0 Delivery Address (N/A for Ticketless Travel) Aundh Mumbai, Maharashtra, 556356786 Total Taxes: $18 USD Total Price (including taxes): $242 USD text is  Flight Confirmation # 2019-09-16010425 2019-09-16 01:04:25.0
Departing
Portland to New York
8/30/2019 @ 11:24 w/ Unified Airlines 563
Coach
$125 each
Returning
New York to Portland
9/3/2019 @ 14:30 w/ Blue Skies Airlines 651
Coach
$99 each
Passengers
1 passenger
Billed To

201 abc road

New York, CA, 45632
AX 0
Delivery Address (N/A for Ticketless Travel)
201 abc road

New York, CA, 45632
Total Taxes:  $18 USD
Total Price (including taxes):  $242 USD <a href="../img/FlightFinderDetails_ybnqj7mm589v60648.png" target="_blank">[View Screenshot]</a> </div><div  class="info"><span class="info-label">I </span>Verified the Flight Confirmation Page <a href="../img/FlightFinderDetails_n2barb68qkvu60649.png" target="_blank">[View Screenshot]</a> </div><div  class="info"><span class="info-label">I </span>You are on Flight Confirmation Page <a href="../img/FlightFinderDetails_1x9w73c54zyrk60650.png" target="_blank">[View Screenshot]</a> </div><div  class="info"><span class="info-label">I </span>You are on FlightFinder Page <a href="../img/FlightFinderDetails_t8nfr0co5z2w60651.png" target="_blank">[View Screenshot]</a> </div></div></td></tr>
</table>